{% load static %}
<section class="footer-con position-relative">
    <div class="container position-relative">
        <div class="middle_portion">
            <div class="row">
                <div class="col-xl-12 col-12 mx-auto">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                            <div class="logo-content">
                                <a href="/" class="footer-logo">
                                    <figure class="mb-0">
                                        <img src="{% static 'img/logo.png' %}" alt="PadosiAgent" style="max-height: 50px;">
                                    </figure>
                                </a>
                                <p class="text-size-14 mb-0">Connecting clients with the right insurance agents in their neighborhood.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                            <div class="links">
                                <h4 class="heading">Useful Links</h4>
                                <ul class="list-unstyled mb-0">
                                    <li><i class="fa-solid fa-circle"></i><a href="/" class="text-decoration-none">Home</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="/find-agents/?openFilter=1" class="text-decoration-none">Find Agents</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="{% url 'home:about' %}" class="text-decoration-none">About Us</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="/contact/" class="text-decoration-none">Contact Us</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="/faq/" class="text-decoration-none">FAQs</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="#" class="text-decoration-none">Insurance Blog</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="/calculator/" class="text-decoration-none">Insurance Calculator</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="/agent-login/" class="text-decoration-none">Agent Login</a></li>
                                    <li><i class="fa-solid fa-circle"></i><a href="/agent-registration/" class="text-decoration-none">Agent Register</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                            <div class="contact">
                                <h4 class="heading">Contact Info</h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="text">
                                        <i class="fa-solid fa-envelope"></i>
                                        <a href="mailto:support@padosiagent.com" target="_blank" class="text-decoration-none">support@padosiagent.com</a>
                                    </li>
                                    <li class="text">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <a href="#" class="text-decoration-none address mb-0">Ahmedabad - 380009 Gujarat, India</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="icon">
                                <h4 class="heading">Social Networks</h4>
                                <ul class="list-unstyled mb-0 social-icons">
                                    <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                    <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-x-twitter social-networks" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                                    <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class="mb-0">© {% now "Y" %} PadosiAgent ServTech Private Limited. All rights reserved. | <a href="/privacy/" class="text-decoration-none">Privacy Policy</a> | <a href="/terms/" class="text-decoration-none">Terms & Conditions</a></p>
    </div>
</section>
